body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #232742;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.header-content{
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    align-items: center;
}
.logo{
    width: 106px;
}
.nav-link{
    color: #a9b5d8;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.8px;
    margin-right: 36px;
}
.btn{
    background-color: #1754fa;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 30px;
}
.nav-link:hover{
    color: #ffffff;
}
.company-advantage{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.company-advantage>span{
    position: relative;
    display: flex;
    padding-left: 40px;
}
.company-advantage>span:before{
    position: absolute;
    left: 0;
    top: 7px;
    content: "";
    width: 20px;
    height: 14px;
    background: url("../images/Arrow_Right.png");
}
.buttons-container{
    margin: 60px 0;
}
.page-title{
    padding: 170px 0 35px 0;
    max-width: 540px;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    margin: 0;
}
.text-main{
    max-width: 510px;
    color: #a9b5d8;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.4px;
}
.page-btn{
    padding: 17px 42px;
    font-size: 18px;
}
.btn-empty{
    padding: 13px 38px;
    color: #a2aed0;
    background: none;
    border: 2px solid #a2aed0;
    font-size: 18px;
    font-weight: 500;
    margin-left: 15px;
}
.top-text-content{
    width: 45%;
}
.top-page-content{
    display: flex;
    justify-content: space-between;
}
.top-image-content{
    width: 45%;
    position: relative;
}
.top-image-container{
    position: absolute;
    width: 865px;
    bottom: -120px;
    left: -250px;
}
.top-image-content img{
    position: absolute;
    bottom: 0;
    right: -10px;
}
.exp-team-text{
    width: 40%;
}
.exp-team-text h2{
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    max-width: 450px;
}
.exp-team-text .text-main{
    width: 445px;
    letter-spacing: 0.16px;
    padding-bottom: 60px;
}
.exp-team-btn{
    font-size: 20px;
    padding: 22px 112px;
    line-height: 18px;
    border-radius: 50px;
}
.exp-team-image{
    width: 60%;
}
.exp-team-block{
    display: flex;
    justify-content: space-between;
    margin-top: 510px;
}
.services-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.special-services-title{
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    text-align: center;
    margin-top: 275px;
}
.special-services-block .text-main{
    text-align: center;
    max-width: 880px;
    margin: auto;
    padding-bottom: 80px;
}
.special-services-block{
    display: flex;
    flex-direction: column;
}
.services-item{
    max-width: 533px;
    position: relative;
    margin-bottom: 30px;
}
.services-item-content{
    padding: 50px 35px 50px 70px;
    background: linear-gradient(40deg, #00a8ff 0%, #1754fa 100%);
    opacity: 0.9;
    border-radius: 10px;
}
.services-item-title{
    font-family: 'Zilla Slab', serif;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.6px
}
.services-item-text{
    opacity: 0.9;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.16px;
    margin-bottom: 0;
}
.item-1:before{
    content: "";
    width: 134px;
    height: 134px;
    position: absolute;
    left: -50px;
    top: 85px;
    z-index: 10;
    background: url("../images/services-1.png");
}
.item-2 .services-item-content{
    background: rgba(0, 210, 98, 0.05)
}
.item-3 .services-item-content{
    background: rgba(136, 108, 255, 0.05);
}
.item-4 .services-item-content{
    background: rgba(245, 84, 152, 0.05)
}
.item-5 .services-item-content{
    background: rgba(255, 63, 0, 0.05);
}
.item-6 .services-item-content{
    background: rgba(0, 129, 245, 0.05)
}
.item-2:before{
    content: "";
    width: 134px;
    height: 134px;
    position: absolute;
    left: -50px;
    top: 85px;
    z-index: 10;
    background: url("../images/services-2.png");
}
.item-3:before{
    content: "";
    width: 134px;
    height: 134px;
    position: absolute;
    left: -50px;
    top: 85px;
    z-index: 10;
    background: url("../images/services-3.png");
}
.item-4:before{
    content: "";
    width: 134px;
    height: 134px;
    position: absolute;
    left: -50px;
    top: 85px;
    z-index: 10;
    background: url("../images/services-4.png");
}
.item-5:before{
    content: "";
    width: 134px;
    height: 134px;
    position: absolute;
    left: -50px;
    top: 85px;
    z-index: 10;
    background: url("../images/services-5.png");
}
.item-6:before{
    content: "";
    width: 134px;
    height: 134px;
    position: absolute;
    left: -50px;
    top: 85px;
    z-index: 10;
    background: url("../images/services-6.png");
}
.all-serv-btn{
    width: 350px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 67px;
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 1px;
    margin: 60px auto;
}
.achive-items{
    display: flex;
    justify-content: space-between;
    width: 47.5%;
    align-items: center;
}
.achive-item{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 300px;
    box-shadow: 0 20px 150px rgba(0, 0, 0, 0.05);
    background: rgba(0, 211, 98, 0.7);
    color: #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 30px 0;
}
.achive-image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}
.achive-count{
    color: #ffffff;
    font-family: 'Zilla Slab', serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1.2px;
    margin-bottom: 24px;
}
.achive-image{
    margin-bottom: 47px;
}
.achive-description{
    color: #ffffff;
    font-family: 'Zilla Slab', serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.6px;
}
.achive-2{
    background: rgba(136, 108, 255, 0.7);
}
.achive-3{
    background: rgba(0, 128, 243, 0.7);
}
.achivment-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.achive-text-content{
    width: 37%;
}
.achive-title{
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    max-width: 360px;
}
.achive-btn{
    margin: 45px 0;
}
.achivment-block{
    margin-top: 275px;
}
.portfolio-title{
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    padding: 280px 0 38px 0;
    margin: 0;
}
.portfolio-block{
    max-width: 1920px;
}
.portfolio-items{
    /*display: flex;*/
    /*width: max-content;*/
    /*margin-left: 18.75%*/
}
/*.scrolled-block{*/
/*    width: 1920px;*/
/*    overflow: hidden;*/
/*}*/
.portfolio-items{
    width: 1552px;
    display: flex;
    justify-content: space-between;
}
.portfolio-item{
    margin-right: 30px;
    width: 370px;
    height: 450px;
    background: url("../images/portfolio-1.png") 617px -3px;
    /*background-position: 617px -3px;*/
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.portfolio-2{
    background: url("../images/portfolio-2.png") 380px -3px;
}
.portfolio-3{
    background: url("../images/portfolio-3.png") 380px -3px;
}
.portfolio-4{
    background: url("../images/portfolio-4.png") 345px -3px;
}
.portfolio-4 .descr-image{
    background-color: #0081f5;
}
.portfolio-2 .descr-image{
    background-color: #00d362;
}
.portfolio-3 .descr-image{
    background-color: #886cff;
}
.portfolio-descr{
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 30px;
    align-items: center;
}
.descr-image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f3c203;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    box-shadow: 15px 26px 35px rgba(0, 0, 0, 0.15);
}
.descr-title{
    color: #142344;
    font-family: 'Zilla Slab', serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.6px;
}
.portfolio-item:hover{
    margin-top: -35px;
}
.scrolled-block{
    margin-top: 75px;
}
.customer-feedback-title{
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    max-width: 370px;
    margin-bottom: 40px;
}
.feedback-slider{
    width: 533px;
    height: 563px;
    border-radius: 10px;
    background-image: linear-gradient(40deg, #00a8ff 0%, #1754fa 100%);
    opacity: 0.9;
}
.customer-feedback{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 340px;
}
.feedback-slide{
    padding: 50px 20px 50px 50px;
}
.slide-user{
    display: flex;
    align-items: center;
}
.user-name{
    color: #ffffff;
    font-family: 'Zilla Slab', serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.6px;
    margin: 0 0 10px 0;
}
.user-position{
    opacity: 0.9;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    /*line-height: 30px;*/
    letter-spacing: 0.14px;
    margin: 0;
}
.user-name-position{
    margin-left: 20px;
}
.slide-rating{
    margin: 47px 0 30px 0;
}
.slide-feedback-text{
    opacity: 0.9;
    color: #ffffff;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.24px;
    font-style: italic;
}
.slick-dots{
    bottom: 40px;
}
.slick-dots li.slick-active button:before {
    color: #ffffff;
    opacity: 1;
    font-size: 15px;
}
.slick-dots li button:before{
    font-size: 10px;
    color: #ffffff;
    opacity: 0.3;
}
.partners-block .text-main{
    max-width: 880px;
    margin: auto;
    text-align: center;
}
.partners-logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
}
.partner-logo{
    width: 270px;
    height: 180px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    margin-bottom: 32px;
}
.newslatter-block{
    margin-top: 320px;
}
.newslatter-title{
    color: #ffffff;
    font-family: 'Zilla Slab', serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    margin: 39px 0;
    text-align: center;
}
.newslatter-block .text-main{
    max-width: 880px;
    text-align: center;
    margin: auto;
}
.input-name, .input-email{
    position: relative;
    display: inline-block;
}
.input-name input, .input-email input{
    background: rgba(169, 181, 216, 0.1);
    color: #a9b5d8;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    border-radius: 40px;
    padding: 0 50px 0 30px;
    border: none;
    width: 290px;
    height: 67px;
}
input:focus{
    outline: none;
}
.input-name:before{
    content: "";
    width: 17px;
    height: 21px;
    background: url("../images/input-name-icon.png");
    position: absolute;
    top: 24px;
    right: 34px;
}
.input-email:before{
    content: "";
    width: 20px;
    height: 15px;
    background: url("../images/input-email-icon.png");
    position: absolute;
    top: 26px;
    right: 35px;
}
.newslatter-block form{
    margin: 75px 0;
    display: flex;
    justify-content: space-between;
}
.sign-up-btn{
    padding: 21px 43px;
    display: flex;
    justify-content: space-between;
    width: 284px;
    color: #ffffff;
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 1px;
    background-color: #1754fa;
    border-radius: 40px;
    align-items: center;
    cursor: pointer;
}
.sign-up-btn img{
    width: 29px;
    height: 20px;
}
.post-form-text{
    color: #a9b5d8;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.post-form-text a{
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
}
.pre-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 280px;
}
.pre-footer-logo{
    width: 106px;
}
.pre-footer-logo img{
    width: 100%;
}
.pre-footer-column{
    display: flex;
    flex-direction: column;
}
.pre-footer-column h3{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    margin: 0 0 48px 0;
}
.pre-footer-column a{
    opacity: 0.7;
    color: #a9b5d8;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.14px;
}
.social-icons{
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.social-icons .social-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon.twitter{
    background: rgba(0, 175, 233, 0.1);
}
.social-icon.fb{
    background: rgba(37, 72, 135, 0.1)
}
.social-icon.linkedin{
    background: rgba(50, 154, 209, 0.1)
}
.social-icon.rss{
    background: rgba(250, 85, 0, 0.1)
}
.footer-container{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding-bottom: 60px;
}
footer span, footer a{
    opacity: 0.7;
    color: #a9b5d8;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
}
footer .copyright{
    max-width: 240px;
}
section{
    position: relative;
}
.special-services-block, .top-page-content, .exp-team-block, .portfolio-block,
.achivment-block, .slider-block, .partners-block, .pre-footer, footer{
    position: relative;
    z-index: 10;
}
.achive-items, .feedback-slider, .partners-logos, .footer-container{
    z-index: 12;
    position: relative;
}
.background-image-1, .background-3, .background-4, .background-5, .background-2, .background-6,
.slider-bkg-1, .slider-bkg-2, .slider-bkg-3, .slider-bkg-4, .background-7, .background-8, .background-circle-1,
.background-9, .background-10, .background-11{
    position: absolute;
}
.background-image-1{
    width: 244px;
    right: 0;
    top: 225px;
}
.background-2{
    width: 550px;
    left: 0;
    top: -200px;
}
.background-3{
    top: 100px;
    right: 0;
}
.background-4{
    bottom: 50px;
    left: 0;
}
.background-5{
    top: 0;
    right: 0;
}
.background-6{
    top: 100px;
    left: 50px;
}
.slider-bkg-1{
    top: -60px;
    left: -70px;
}
.slider-bkg-2{
    top: 120px;
    right: -70px;
}
.slider-bkg-3{
    bottom: 25px;
    left: -70px;
}
.slider-bkg-4{
    bottom: -85px;
    right: -10px;
}
.background-7{
    top: -140px;
    left: 50px;
}
.background-8{
    bottom: -360px;
    right: 0px;
}
.background-circle-1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #00d463;
    bottom: -10px;
    left: 240px;
}
.background-9{
    top: -60px;
    left: 125px;
}
.background-10{
    bottom: 0;
    right: 155px;
}
.background-11{
    bottom: 0;
    left: 115px;
}
header{
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #232742;
}
main{
    padding-top: 110px;
}